@model MiniEshop.Application.DomainServices.ProductService.Responses.ProductSingleResponse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class="col-sm-10">
            @foreach (var img in Model.Images)
            {
                <img src="@img.Path" alt="product image">
            }
        </dd>
    </dl>
</div>
<div>
    <h5>Are you sure to delete this product?</h5> <br />
    <form method="post">
        <button type="submit" class="danger">Yes</button>
    </form>
    <a asp-action="Index">No, back to List</a>
</div>